<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>

      <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" />
	</head>
	<body>
    <div id="header">
      <nav>
        <li>
          <a href="/">Home</a>
        </li>
      </nav>
    </div>
    <div class="wrapper">
      <section>
        <div id="title">
          <span class="credits right">Hosted on GitHub Pages — Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
          <h1>{{ page.title }}</h1>
        </div>
        {{ content }}
      </section>
    </div>
	</body>
</html>